<div class="container">
  <h1>Headlines</h1>
  <div class="container">
    <div class="input-group md-form form-sm form-2 pl-0">
      <input class="form-control my-0 py-1 amber-border" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="topHeadlinesQueryParams.q" (change)="_getTopHeadlines(topHeadlinesQueryParams)">
      <div class="input-group-append">
    <span class="input-group-text amber lighten-3" id="basic-text1"><i class="fas fa-search text-grey"
                                                                       aria-hidden="true"></i></span>
      </div>
    </div>
    <section class="section-preview">
      <div class="row">
        <div class="col-md-4 m-b-3">
          <select class="browser-default custom-select">
            <option [value]="source.id" *ngFor="let source of sources">
              {{source.name}}</option>
          </select>
        </div>
        <div class="col-md-4 m-b-3">
          <select class="browser-default custom-select">
            <option selected>{{countries[0].name}}</option>
            <option [value]="country.code" *ngFor="let country of countries">
              {{country.name}}</option>
          </select>
        </div>
        <div class="col-md-4 m-b-3">
          <select class="browser-default custom-select">
            <option selected>{{categories[0].name}}</option>
            <option [value]="category.code" *ngFor="let category of categories">
              {{category.name}}</option>
          </select>
        </div>
      </div>
    </section>
    <section class="section-preview">
      <div *ngFor="let article of articles" class="row">
        <!--         Card Light -->
        <div class="card" style="margin-bottom: 1rem">

          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top"
                 src="{{article.urlToImage}}" alt="Card image cap">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body">

            <!-- Title -->
            <h3 class="card-title"><strong>{{article.title}}</strong></h3>
            <!-- Text -->
            <p class="card-text">
              {{article.description}}
            </p>
          </div>

        </div>
        <!--         Card Light -->
      </div>
    </section>

    <div mdbModal #frame="mdbModal" class="modal fade modal-scrolling" id="frameModalTop" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
      <div class="modal-dialog modal-side modal-dialog-centered modal-notify modal-info" role="document">
        <!--Content-->
        <div class="modal-content">
          <!--Header-->
          <div class="modal-header">
            <p class="heading">{{relatedArticle.title}}</p>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
              <span aria-hidden="true" class="white-text">&times;</span>
            </button>
          </div>

          <!--Body-->
          <div class="modal-body">

            <div class="row">
              <div class="col-5">
                <img src="{{relatedArticle.urlToImage}}" class="img-fluid"
                     alt="">
              </div>

              <div class="col-7">
                <p>
                  Source:{{relatedArticle.source ? relatedArticle.source.name : ''}}
                </p>
                <p>
                  Author: {{relatedArticle.author}}
                </p>
                <p>{{relatedArticle.description}}</p>
                <!-- Link -->
                <a class="black-text d-flex justify-content-end" (click)="navigateToDetailsView()">
                  <h5>More Details <i class="fas fa-angle-double-right"></i></h5>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!--/.Content-->
      </div>
    </div>
  </div>
</div>
